@media (max-width: 1300px) {
  #modal{
    .modal{
      left: 28%;
    }
  }
}
@media (max-width: 1200px) {
  #modal{
    .modal{
      left: 25%;
    }
  }
}
@media (max-width: 1000px) {
  #modal{
    .modal{
      left: 23%;
    }
  }
}
@media (max-width: 900px) {
  #modal{
    .modal{
      left: 19%;
    }
  }
}
@media (max-width: 800px) {
  #modal{
    .modal{
      left: 16%;
      width: 450px;
      &--bottom{
        gap: 15px;
        &__icons{
          gap: 10px;
          &--icon{
            padding: 18px;
          }

        }
      }
    }
  }
}
@media (max-width: 700px) {
  #modal{
    .modal{
      width: 320px;
      left: 21%;
      &--bottom{
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 600px) {
  #modal{
    .modal{
      left: 17%;
    }
  }
}
@media (max-width: 550px) {
  #modal{
    .modal{
      left: 18%;
      width: 290px;
    }
  }
}
@media (max-width: 500px) {
  #modal{
    .modal{
      left: 14%;

    }
  }
}
@media (max-width: 475px) {
  #modal{
    .modal{
      left: 17%;
      width: 260px;
      padding: 20px;
      &--bottom{
        gap: 12px;
        &__icons{
          gap: 4px;
          &--icon{
            width: 18px;
            height: 18px;
            padding: 18px;
          }
          h6{
            font-size: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  #modal{
    .modal{
      left: 14%;
    }
  }
}
@media (max-width: 390px) {
  #modal{
    .modal{
      left: 16%;
      width: 210px;
      &--bottom{
        margin: 2px 0;
        &__icons{
          gap: 2px;
          &--icon{
            padding: 12px;
          }
          h6{
            font-size: 9px;
          }
        }
      }
    }
  }
}
@media (max-width: 340px) {
  #modal{
    .modal{
      left: 13%;
    }
  }
}