#genres{
  .container{
    .genress{
      &--zagalovok{
        display: flex;
        justify-content: space-between;
        color: #19272E;
        font-family: Public Sans;
        font-size: 23px;
        font-weight: 100;
        margin: 112px 0 64px 0;
          p{
            color: #818EEA;
            font-family: Public Sans;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
          }

      }
    }
    .genres{
      display: flex;
      justify-content: space-between;
      &--block{
        background: #f3f3f4;
        display: flex;
        width: 110px;
        border-radius: 16px;
        border: 1px solid #E1E1E1;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;
       h4{
         color:#19272E;
         font-family: Public Sans;
         font-size: 18px;
         font-weight: 500;
         line-height: 120%;
       }
      }
    }
  }
}