@media (max-width: 768px){
#hero{
  .container{
    .hero{
      &--parent{
        h1{
          font-size: 45px;
        }
      }
    }
  }

}}
@media (max-width: 655px) {
  #hero{
    max-height: 500px;
   .container{
     .hero{
       &--parent{
         h1{
           font-size: 35px;
           font-weight:650 ;
         }
       }
     }
   }
  }
}
@media (max-width: 510px) {
  #hero{
   .container{
     .hero{
       &--parent{
         h1{
           font-size: 32px;
           font-weight:650 ;
         }
       }
     }
   }
  }
}
@media (max-width: 480px){
  #hero{
    max-height: 400px;
 .container{
   .hero{
     &--parent{
       padding-top: 160px;
       h1{
         font-size: 28px;
       }
       p{
         font-size: 16px;
         width: 300px;
       }
     }
   }
 }
  }
}
@media (max-width: 415px){
 #hero{
   max-height: 300px;
margin-top: 70px !important;

   .container {
     .hero {
       &--parent {
         padding-top: 115px;
         h1 {
         font-size: 20px;

       }
         p{
           font-size: 14px;
           width: 200px;
         }
       }
     }

   }
 }
}
@media (max-width: 375px){
  #hero{

    .container{
      .hero{

        &--parent {
          padding-top: 150px;
          h1 {
            font-size: 26px;
          }
        }
      }
    }
  }
}
@media (max-width: 335px){
  #hero{
max-height: 300px;
    .container{
      .hero{
        &--parent{
            padding-top: 120px;
          h1{
            font-size: 22px;
            font-weight: 600;
          }
          p{
            font-size: 14px;
            width: 200px;
          }
        }
      }
    }
  }
}