@media (max-width: 1300px) {
  #cards{
    .container{
      .cards{
        padding: 64px 10%;
        transition: 1s;
        gap: 100px;
      }
    }
  }
}
@media (max-width: 1200px) {
  #cards{

    .container{
      .cards{
        padding: 64px 7%;
        transition: 1s;
        gap: 85px;
      }
    }
  }
}
@media (max-width: 1000px) {
  #cards{
    .container{
      .cards{
        padding: 64px 3%;
        transition: 1s;
        gap: 80px;
      }
    }
  }
}
@media (max-width: 970px) {
  #cards{

    .container{
      .cards{
        padding: 64px 0;
        transition: 1s;
        gap: 70px;
      }
    }
  }
}
@media (max-width: 935px) {
  #cards{

    .container{
      .cards{
        padding: 65px 2%;
        gap:60px ;
        &--img{
          img{
            width: 250px;
            height: 380px;
          }
        }
      }
    }
  }
}
@media (max-width: 880px) {
  #cards{

    .container{
      .cards{
        padding: 65px 0;
        gap:55px ;
        &--img{
          img{
            width: 250px;
            height: 380px;
          }
        }
        &--title{
          &__top{
            gap: 10px;
            &--text{
              width: 290px;
            }
          }
          p{
            width: 370px;
          }
          &__bottom{
            gap: 12px;
            &--btn{
              width: 290px;
            }
            &--btn2{
              width: 90px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  #cards{
    .container{
      .cards{
        gap:45px ;
        &--img{
          img{
            width: 200px;
            height: 300px;
          }
        }
        &--title{
          gap: 28px;
        }
      }
    }
  }
}
@media (max-width: 710px) {
  #cards{
    .container{
      .cards{
        gap:35px ;
        &--title{
          &__top{
            &--text{
              width: 280px;
              p{
                font-size: 15px;
              }
            }
          }
          &__bottom{
            &--btn{
              width: 270px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 670px) {
  #cards{
    .container{
      .cards{
        flex-direction: column;
      }
    }
  }

}
@media (max-width: 430px) {
  #cards{
    .container{
      .cards{
        &--title{
          &__top{
            gap: 6px;
            &--text{
              width: 270px;
              h3{
                font-size: 16px;
                font-weight: 600;
              }
            }

          }
          p{
            width: 350px;
          }
          &__bottom{
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 15px;
          }
        }
      }
    }
  }

}
@media (max-width: 390px) {
  #cards{
    .container{
      .cards{
        &--title{
          &__top{
            gap: 1px;
            &--text{
              width: 250px;
              h3{
                font-size: 16px;

              }
            }
            &--icons{
              gap: 5px;
            }
          }
        }
        p{
          width: 320px;
          font-size: 16px;
        }
      }
    }
  }

}
@media (max-width: 350px) {
  #cards{
    .container{
      .cards{
        justify-content: center;
        &--title{
          &__top{
            &--text{
              width: 200px;
              h3{
                font-size:14px ;
              }
            }
            &--icons{
              &__heart{
                width: 20px;
                height: 20px;
              }
              &__share{
                width: 20px;
                height: 20px;
              }
            }
          }
          p{
            width: 280px;
          }
        }
      }
    }
  }
}