#book {
  margin: 128px 0 64px 0;

  .book {
    display: flex;
    flex-direction: column;

    &--top {
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 80px;

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h1 {
          color: var(--text-color, #19272E);
          font-family: Public Sans;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: -0.55px;
          margin-bottom: 20px;
        }

        p {
          color: var(--text-color, #19272E);
          font-size: 20px;
          font-family: Public Sans;
          letter-spacing: -0.4px;
          opacity: 0.6;
        }
      }

      &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        &--title {

          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          gap: 18px;

          h2 {
            color: var(--text-color, #19272E);
            font-size: 22px;
            font-family: Public Sans;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.55px;
          }

          a {
            color: var(--main-color, #818EEA);
            font-size: 14px;
            font-family: Public Sans;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.4px;
            text-decoration-line: underline;
          }
        }

        &--button {
          display: flex;
          align-items: center;
          gap: 20px;

          &__select {
            display: flex;
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--main-color, #818EEA);
            width: 160px;
            height: 37px;
            padding: 0 5px;

            p {
              color: var(--main-color, #818EEA);
              font-size: 16px;
              font-family: Inter;
              margin-right: 10px;
              opacity: 0.5;
            }

            &--option {
              border: none;
              border-radius: 7px;
              color: rgba(129, 142, 234, 1);
              text-align: center;

              font-size: 20px;
              outline: none;
            }
          }

          &__burger {
            display: none;
            font-size: 20px;
            padding: 7px 7px 4px 7px;
            border-radius: 8px;
            border: 1px solid var(--main-color, #818EEA);
            background: transparent;
            cursor: pointer;

          }
        }
      }
    }

    &--bottom {
      h2 {
        color: var(--text-color, #19272E);
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.4px;
        margin-bottom: 30px;
      }

      &__genres {
        display: flex;
        justify-content: flex-end;
        align-items: start;
        gap: 32px;

        &--left {

        }

        &--right {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 35px;

          &__card {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 5px;

            &--img {
              margin-right: 10px;

              img {
                width: 200px;
              }
            }

            &--title {
              width: 200px;

              h5 {
                color: var(--text-color, #19272E);
                font-size: 18px;
                font-family: Public Sans;
                font-weight: 700;
                margin: 5px 0;
              }

              p {
                color: var(--text-color, #19272E);
                font-size: 16px;
                font-family: Public Sans;
              }
            }

          }
        }
      }
    }
  }
}