@media (max-width: 1400px) {
  #footer {
    .container {

    }
  }
}

@media (max-width: 1378px) {
  #footer {
    .container {
    .footer{
      &--bottom{
        margin: 0 0 0 40px;
        gap: 100px;
      }
    }
    }
  }
}
@media (max-width: 1300px) {
  #footer {
    .container {
    .footer{
      &--bottom{
        margin: 0 0 0 40px;
        gap: 80px;
      }
    }
    }
  }
}

@media(max-width: 1200px) {
  #footer {
    .container {
      .footer {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 40px;

        &--bottom {
          display: flex;
          gap: 70px;
          margin: 0 0 0 60px;
        }
      }
    }

  }
}

@media (max-width: 1150px) {
  #footer {
    .container {
      .footer{
        &--bottom{
          margin: 0 0 0 20px;
          gap: 40px;
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  #footer {
    .container {
      .footer {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 0;

        &--bottom {
          display: flex;
          gap: 26px;
          margin: 0 0 0 50px;
        }
      }
    }

  }
}

@media(max-width: 992px) {
  #footer {
    .container {
      .footer {

        &--block{
          h1{
            font-size: 30px;
          }
        }

        &--bottom {
          flex-wrap: wrap;
        }
      }

    }
  }
}
@media (max-width: 890px) {
  #footer {
    .container {
      .footer {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;

        &--bottom {

          gap: 26px;
          margin: 32px 0 0 0;
        }
      }
    }

  }
}


@media(max-width: 768px) {
  #footer {
    .container {
      width: 90%;

      .footer {
        &--bottom {
          flex-wrap: wrap;
        }
      }

    }
  }
}

@media(max-width: 576px) {
  #footer {
    padding: 32px 0;

    .container {
      .footer {
        flex-wrap: wrap;

        &--block {
          h1 {
            font-size: 30px;
          }
        }

        &--bottom {
          margin: 32px 0 0 0;
        }
      }
    }
  }
}

@media(max-width: 451px) {
  #footer {
    .container {
      .footer {
        &--bottom {
          &__title {
            flex-wrap: wrap;
          }

        }
      }
    }
  }
}

@media(max-width: 400px) {
  #footer {
    .container {
      .footer {
        &--block {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media(max-width: 320px) {
  #footer {
    .container {
      .footer {
        &--block {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }
}