#myCart{
  .container{
    .myCart{
      &--yourCart{
        &__zagalovok{
          margin: 32px 0 40px 0;

          h1{
            margin:100px 0 4px 0;
            color:#19272E;
            font-family: Public Sans;
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: -1.5px;
          }
          p{
            color: #19272E;
            font-family: Public Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.2px;
            span{
              color: skyblue;
            }
          }
        }
      }
    }
  }
}